*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(243, 242, 242);
    font-family: calibri;
}

header{
    width: 100%;
    clear: both;
    content: "";
    display: table;

}

.menunav3{
    width: 2000px;
    margin: 0 auto;
    font-size: 20px;
}

h1{
    font-size: 50px;
    padding: 20px;
}

nav{
    margin-top: 1200px;
    float: right;

}

nav ul li {
    list-style: none;
    margin-left:60px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

nav ul li a::before{
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0; 
    position: absolute;
    transition: width 0.2;

}

nav ul li a:hover::before{
    width: 100%;
} 

caption{
    font-size: 30px; color: black;
}

table{
    border-collapse:collapse ;
    margin-left: 50px;
}

th,td{
    border-style: ridge;
    padding: 15px;
    
}

tr>th{
    background-color: rgb(62, 61, 61);
}

th{
    font-size: 15px;color: white;
}

tbody>tr:hover{
    background-color: white;

}

